@font-face {
    font-family: "DIN Next LT Pro Bold";
    src: url("//db.onlinewebfonts.com/t/3a88649e176a40a6d80b395ca0ae430d.eot");
    src: url("//db.onlinewebfonts.com/t/3a88649e176a40a6d80b395ca0ae430d.eot?#iefix") format("embedded-opentype"),
      url("//db.onlinewebfonts.com/t/3a88649e176a40a6d80b395ca0ae430d.woff2") format("woff2"),
      url("//db.onlinewebfonts.com/t/3a88649e176a40a6d80b395ca0ae430d.woff") format("woff"),
      url("//db.onlinewebfonts.com/t/3a88649e176a40a6d80b395ca0ae430d.ttf") format("truetype"),
      url("//db.onlinewebfonts.com/t/3a88649e176a40a6d80b395ca0ae430d.svg#DIN Next LT Pro Bold") format("svg");
  }

.main-container-agnt{
    display: flex;
    height: calc(100vh - 80px);
    width: 100vw;
    background-color: #0F1822;
    padding: 3rem;
    font-family: "DIN Next LT Pro Bold";
}

.left-container-agnt{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 35%;
    background-color: #0F1822;
    margin-right: 3rem;

  }

.search-agent{
    width: 100%;
    height: 160px;

    
}

label{
    padding: 0.5em;
    width: 100%;
    height: 1em;
    box-shadow: 0 0 0 1.1px inset rgba(255,255,255,1);
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    color: white;
    position: relative;
    font-family: "DIN Next LT Pro Bold";
}

.button-content-agent{
    font-family: "DIN Next LT Pro Bold";
    font-size: 18pt;
    background-color: red;
    color: white;
    width: 100%;
    height: 75px;
    margin-top: 10px;
    border: solid red 1px;
    cursor: pointer;
}

.button-content-agent:hover{
    background-color: rgb(188, 4, 4);
    transition: 1s;
}

#agents{
    border: red 2px solid;
    font-family: "DIN Next LT Pro Bold";
    text-align: center;
    font-size: 18pt;
    width: 100%;
    height: 75px;
    appearance: none;
}

.image-agnt{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 67%;
    
}

.image-agnt img{
    width: 80%;
}

.border-agent{
    border: white solid 1px;
    padding: 10px;
    opacity: 0;
}

.name-agnt{
    /* background-color: greenyellow; */
    border: red solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75px;
    opacity: 0;
    /* visibility: hidden; */
}

.name-agnt h3{
    font-size: 2rem;
    color: white;
}