@font-face {
    font-family: "DIN Next LT Pro Bold";
    src: url("//db.onlinewebfonts.com/t/3a88649e176a40a6d80b395ca0ae430d.eot");
    src: url("//db.onlinewebfonts.com/t/3a88649e176a40a6d80b395ca0ae430d.eot?#iefix") format("embedded-opentype"),
      url("//db.onlinewebfonts.com/t/3a88649e176a40a6d80b395ca0ae430d.woff2") format("woff2"),
      url("//db.onlinewebfonts.com/t/3a88649e176a40a6d80b395ca0ae430d.woff") format("woff"),
      url("//db.onlinewebfonts.com/t/3a88649e176a40a6d80b395ca0ae430d.ttf") format("truetype"),
      url("//db.onlinewebfonts.com/t/3a88649e176a40a6d80b395ca0ae430d.svg#DIN Next LT Pro Bold") format("svg");
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #0F1822;
}

.main-container{
    display: flex;
    height: calc(100vh - 80px);
    width: 100vw;
    background-color: #0F1822;
    padding: 3rem;
    font-family: "DIN Next LT Pro Bold";
}

.left-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 35%;
    background-color: #0F1822;
    margin-right: 3rem;

  }

.search-weapon{
    width: 100%;
    height: 160px;

    
}

input{
    background-color: whitesmoke;
}

label{
    padding: 0.5em;
    width: 100%;
    height: 1em;
    box-shadow: 0 0 0 1.1px inset rgba(255,255,255,1);
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    color: white;
    position: relative;
    font-family: "DIN Next LT Pro Bold";
}

.button-content{
    font-family: "DIN Next LT Pro Bold";
    font-size: 18pt;
    background-color: red;
    color: white;
    width: 100%;
    height: 75px;
    margin-top: 10px;
    border: solid red 1px;
    cursor: pointer;
}

.button-content:hover{
    background-color: rgb(188, 4, 4);
    transition: 1s;
}

#weapons{
    border: red 2px solid;
    font-family: "DIN Next LT Pro Bold";
    text-align: center;
    font-size: 18pt;
    width: 100%;
    height: 75px;
    appearance: none;
}

.image-wpn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 67%;
    
}

.image-wpn img{
    width: 100%;
}

.border{
    border: white solid 1px;
    padding: 10px;
    opacity: 0;
}

.name-wpn{
    /* background-color: greenyellow; */
    border: red solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75px;
    opacity: 0;
    visibility: hidden;
}

.name-wpn h3{
    font-size: 2rem;
    color: white;
}


@media (min-width: 421px) and (max-width:768px){
    body{
        width: 100dvw;
        height: auto;
    }
    .main-container{
        width: 100%;
        height: auto;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }
    .image-wpn{
        width: 100%;
        height: 400px;
    }
    .left-container{
        width: 100%;
        height: 150%;
    }
    label{
        font-size: 12pt;
    }
    .button-content{
        font-size: 12pt;
    }
}

@media (max-width: 420px){
    body{
        width: 100dvw;
        height: auto;
    }
    .main-container{
        width: 100%;
        height: auto;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }
    .image-wpn{
        width: 100%;
        height: 400px;
    }
    .left-container{
        width: 100%;
        height: 150%;
    }
    label{
        font-size: 12pt;
    }
    .button-content{
        font-size: 12pt;
    }

}


